#ident	"@(#)nadmin.rfs:remote/rfs/Text.mount	1.2"
title="Mounts a Remote Resource Automatically-Immediately via RFS"

`readfile $INTFBASE/display.msg | message -p`

text="`readfile  $ARG1`"
columns=40
