#ident	"@(#)lp.admin:printers/filters/Menu.template	1.3.3.1"

menu="Existing option templates for filter $ARG1"
multiselect=true
framemsg='MARK templates to keep then press ENTER'
done=`getitems "," | set -l Form_Choice`close

`indicator -w;fmlgrep ":$ARG1:" /etc/lp/filter.table | fmlcut -d: -f9 - | /usr/bin/tr ',' '\012' | /usr/bin/sort | regex '^(.*)$0$' 'name=$m0'`
